<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ug.or.psu.psudrugassessmenttool">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBd46NlOmxCgW6mbzbpAViSjfxV8FbGgY0" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".users.authentication.SignInActivity" />
        <activity
            android:name=".users.dashboards.ndasupervisor.NdaSupervisorDashboard"
            android:label="@string/title_activity_nda_supervisor_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".users.dashboards.ndasupervisor.NdaSupervisorGetLocationActivity" />
        <activity android:name=".globalactivities.NewsViewActivity" />
        <activity android:name=".globalactivities.CreateNewsActivity" />
        <activity android:name=".globalactivities.PharmacistAttendanceActivity" />
        <activity android:name=".globalactivities.PharmaciesMapActivity" />
        <activity
            android:name=".users.dashboards.ndaadmin.NdaAdminDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".users.dashboards.psuadmin.PsuAdminDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".users.dashboards.psupharmacyowner.PsuPharmacyOwnerDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".users.dashboards.psupharmacist.PsuPharmacistDashboard"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".services.TrackPharmacistService" />

        <activity android:name=".globalactivities.FeedbackActivity" />
        <activity android:name=".globalactivities.CreateJobsActivity" />
        <activity android:name=".globalactivities.JobsViewActivity" />
        <activity android:name=".globalactivities.WholesaleInspectionActivity" />
        <activity
            android:name=".users.dashboards.sysadmin.SystemsAdministratorDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".globalactivities.FeedbackDetailsActivity" />
        <activity android:name=".globalactivities.NewsViewPostedActivity" />
        <activity android:name=".globalactivities.EditNewsActivity" />
        <activity android:name=".globalactivities.EditProfileActivity" />
        <activity android:name=".globalactivities.UserNewsDetailsActivity" />
        <activity android:name=".globalactivities.UserNewsActivity" />
        <activity android:name=".users.dashboards.psuadmin.SetPharmacyLocationActivity" />
        <activity android:name=".users.dashboards.psuadmin.ViewPharmacyActivity" />
        <activity android:name=".users.dashboards.psuadmin.ApproveNewsActivity" />
        <activity android:name=".users.dashboards.psuadmin.ApproveNewsItemActivity" />
        <activity android:name=".globalactivities.PharmacistAssessmentFormActivity" />
        <activity android:name=".globalactivities.ConfirmPharmacistAssessmentFormActivity" />
        <activity android:name=".globalactivities.PharmacistAssessmentFormFeedActivity" />
        <activity android:name=".globalactivities.PharmacistAssessmentFormFeedOwnerActivity" />
        <activity android:name=".globalactivities.ViewPharmacistAssessmentFormOwnerActivity" />
        <activity android:name=".globalactivities.EditPharmacistAssessmentFormActivity" />
        <activity android:name=".globalactivities.ViewPharmacistAssessmentFormActivity" />
        <activity android:name=".globalactivities.SearchPharmacistAssessmentFormsActivity" />
        <activity android:name=".users.authentication.SignUpActivity" />
    </application>

</manifest>